html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn,  img, ins, kbd, q, s, samp,
small, strike,  sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
    }

body {
    background-color: #000000;
    color: #edededdd;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family:sans-serif;
    overflow: auto;  /* To allow for scrolling if the content overflows */
}

.container {
    position: relative;
    width: 1580px; /* Fixed width - adjust as needed */
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    padding-bottom: 100px;
    padding: 0px 0 0 20px;
}

.content-wrapper {
    display: flex;

}

hr {
    width: 1500px;
    margin: 0px 0 50px 0;
    border: 1px solid #616161;

}
.fatherearth {}
.fatherearth_words {}
.vision {}

.column_half {
    float:left;
    width: 700px;  /* Fixed width */
    padding-right: 40px;
}
.column_third {
    width: 450px;  /* Fixed width */
    padding-right: 40px;
    float:left;
}
.column_twothirds {
    width: 950px;  /* Fixed width */
    padding-right: 40px;
    float:left;
}
.column_quarter {
    width: 345px;  /* Fixed width */
    padding-right: 40px;
    float:left;
}
.featured_column {
    width: 1000px;  /* Fixed width */
    padding: 100px 0 0 100px;
}
.nav {
    display:none;
    position: fixed;
    left: 5px;
    top:5px;
    font-size:14px;
    position:fixed;
    z-index:2;
}
.footer a, .nav a {
    color: #ffffff48;
}
.footer {
    z-index:2;
    position: fixed;
    left: 5px;
    bottom:5px;
}
p {
    padding-bottom: 26px;
    text-align:left;
}

p::selection {
  color: rgb(14, 14, 14);
  background: rgb(196, 103, 189);
}

a {
    color: inherit;
}
a:visited {color:inherit;}

a:hover {
    text-decoration:none;
}
img {
    width: 100%;  /* Fixed width */
    height: auto;  /* Maintains aspect ratio */
    margin : 0 0 40px 0;
    border-radius: 5px;
}
.yellow {
    color:rgb(169, 140, 108);
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 20px;
    margin-top: 70px;
    width: 1050px;
}

.image-grid img {
    width: 350px; 
    height: auto;
}
sup {

    color:gray;
  }
.footnote {
    color:rgb(157, 157, 157);
    font-size: 16px;
  }
.italic {
    font-style: italic;
}
h1 {
    letter-spacing: 1px;
    display: inline-block;
    font-size: 40px;
    transform: scaleY(0.65);
    transform-origin: 0 0;
    padding-bottom:20px;
}
h2 {

    color: #c9c9c9;

    margin: 0 0 10px 0;
}
h1 a, h2 a {

}

h3 {
    font-size: 28px;
    color: #898989;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1em;
    letter-spacing: -.05em;
    margin: 0 0 30px 0;
}

.pullquote {
    color:rgb(153, 132, 201);
}
.featured-image {
    width: 100%;
    height: auto;
  }
  
  .info-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .info-column {
    width: 50%;
    padding: 20px 0 0 0;
  }
  
  .buy-column {
    width: 50%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buy-button {
    background-color: #171717;
    border: 1px solid #787878;
    color: white;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
    width: 100%;
  }
  

.docs_card {
    border: 2px outset #ccc;
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;

}
.button {

    border-radius:10px;
    text-align:center; 
    padding:10px 30px; 
    margin: 0 0 10px;
    color:#afafaf; 
    background-color: #4c1c50;
}
.pill_draft {
    background-color:#292929;
    border-radius:10px;
    padding:5px 15px;
    margin: 0 0 0 10px;
    font-size:12px;
    text-transform: uppercase;
    float:right;
}
.pill_date {
    background-color:#eeeeee00;
    padding:5px 15px;
    margin: 0 0 0 10px;
    font-size:12px;
    text-transform: uppercase;
    float:right;
}


form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width:100%;
}
label {
    margin-bottom:-15px;
}

input, button {
    padding:15px;
    width:100%;
}

button {
    border: 2px outset #ccc;
    border-radius:10px;
    display:block; 
    width:100%; 
    text-align:center; 

    padding:10px 0; 
    margin: 0 0 10px;
    color:#656565; 
    background-color:#334455;
}
button:hover {
    border: 1px outset #999999;
    color:#e1e1e1; 
    border-radius:10px;
    
}
button:active {
    color:#393939; 
    border-radius:20px;
    text-decoration:underline;
    background-color: rgb(149, 149, 149);
}
.output {
    border: 0px solid #333;

}

.output p {
    display:inline;
    color:#fff;
    text-align:center;
}
.output h3 {
    display:block;
    padding:20px;
    background-color:#111;
    border-radius:5px;
    margin-bottom:10px;
}
ol {
    margin-left: 25px;
    padding: 0;
    padding: 0px 0 30px 30px;
}
ul {
    margin-left: 25px;
    padding: 0;
    padding: 0px 0 30px 30px;
}
li {
    padding: 0px 0 10px 30px;
}
  
table {
    border: 1px outset #ccc;
    border-radius:10px;
    width:100%;
    font-size:14px;
}
table, th, td {
  padding: 20px;
  text-align:center;
}
td{
        padding: 40px 10px 60px 10px;
}

th  {
  background-color:#333;
  padding:50px 0;
}

.col-1,.col-2, .col-3 {
    width: 12.5%;
}
.col-4,.col-5 {
    width: 30%;
}
th, td {
    padding: 4px 8px;
    text-align: left;

}
th {
    background-color: #cccccc00;
}
tr:nth-child(odd) {
    background-color: #f2f2f200;
}
tr:nth-child(even) {
    background-color: #ffffff00;
}
th, td {
    border: 1px solid #787878;
}
.quotes-container {
    width: 400px;
    margin: 0 auto;
}
.quote {
    margin-bottom: 20px;
    display: flex;
}
.quote-text {
    font-size: 16px;
    width: 60%;
}
.meta {
    font-size: 12px;
    width: 40%;
    padding-left: 20px;
}

table a {
    color: rgb(206, 206, 206);
    text-decoration:underline;
}
table a:hover {
    color:rgb(157, 157, 157);
    text-decoration:underline;
}
table a:active {
    color:rgb(204, 204, 204);
    text-decoration:underline;
}

